label {
    display: block;
}
h2 {
    text-align: center;
}

.sidebar {
    background-color: lightgrey;
    position: fixed;
    width: 20%;
    height: 100%;
}
.content {
    position: fixed;
    width: 80%;
    height: 100%;
    right: 0;
}

#recipeListContainer {
    overflow: scroll;
    height: 100%;
}