
    <h3> Transactions: </h3>
    <div class="button">
        <button [routerLink]="'new'"> Click to make a new transaction</button>
    </div>

<div id="transactionListDiv" *ngFor="let transaction of transactions">
    <div class="transactionDiv">
        Date: {{transaction.date}} <br>
        <div id="entryListDiv" *ngFor="let entry of transaction.entries">
            <div class="entryDiv">
                User: {{entry.user}} <br>
                Amount: {{entry.amount}}
            </div>
        </div>
    </div>
</div>