<div class="transaction">
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
            <mat-option value="GROCERIES">Boodschappen</mat-option>
            <mat-option value="PRESENTS">Cadeaus</mat-option>
            <mat-option value="DATES">Dates</mat-option>
            <mat-option value="OTHER">Overig</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Amount total</mat-label>
        <input type="number" placeholder="Enter the amount"> 
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Optional message</mat-label>
        <input matInput placeholder="Message">
    </mat-form-field>
</div>