<div class="form">

    <h3>Adding a new transaction: </h3>
    <div class="button">
        <button [routerLink]="''"> Return to overview</button>
    </div>

    <div>
        <label>Choose a date</label>
    </div>
    
    <div>
        <label for="categorySelect">Category</label>
        <select id="categorySelect">
            <option value="GROCERIES">Boodschappen</option>
            <option value="PRESENTS">Cadeaus</option>
            <option value="DATES">Dates</option>
            <option value="OTHER">Overig</option>
        </select>
    </div>

    <br>

    <div>
        <label>Amount total</label>
        <input type="number" placeholder="Enter the amount"> 
    </div>

    <br>

    <div>
        <label for="message">Optional message</label>
        <input type="text" id="message" placeholder="Message">
    </div>
</div>